body {
  font-family: "Zen Kurenaido", sans-serif;
}
.fas {
  font-size: 50px;
}
h1 {
  color: #2a293a;
  font-size: 44px;
  font-weight: 100;
  line-height: 30px;
  margin-bottom: 0px;
}
ul {
  margin: 3px;
  padding: 3px;
}
li {
  list-style: none;
  color: #2a293a;
  font-size: 18px;
  font-weight: 100px;
  line-height: 20px;
}
.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 2px solid #41ae5c;
  border-radius: 15px;
}
.overview {
  margin-bottom: 20px;
}
.icon {
  max-width: 45px;
  max-height: 45px;
}
